<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Cadastro - Clients</title>
</head>
<body>
    <header class="header-blue-add">
        <div class="bg-primary d-flex justify-content-between pt-3 pb-3 px-2">
            <a href="{{ url_for('customers.list_all_customers') }}" class="bg-primary border-0">
                <img src="../static/icons/arrow_back_white.svg" alt="back">
            </a>

            <div class="bg-primary pt-2">
                <h1 class="fs-5 text-white">Novo Cliente</h1>
            </div>

            <button class="bg-primary border-0">
                <img src="../static/icons/delete_white.svg" alt="back">
            </button>
        </div>
    </header>

    <main class="container">
       <form class="d-flex flex-column gap-2 pt-3" method="post" action="{{ url_for('customers.create_customers') }}">

            <label for="#">Nome do Client:</label>
            <input type="text" name="name" placeholder="Ex: Carlos">

            <label for="#">Telefone:</label>
            <input type="text" name="phone" placeholder="Ex: (62) 9888-7777">

            <label for="#">Email:(opcional)</label>
            <input type="text" name="email" placeholder="Ex: carlos@gmail.com">

            <label class="pt-2" for="#">Endereço:</label>
            <textarea name="about-pet" id="about-pet" placeholder="Endereço aqui..."></textarea>

            <label class="pt-2" for="#">Notas</label>
            <textarea name="about-pet" id="about-pet" placeholder="Alguma observação?..."></textarea>

             <div class="btn-func-user">
                <div>
                    <label for="#">Status</label>
                </div>
                <div class="d-flex gap-2 mt-2">
                    <input
                        type="radio"
                        class="btn-check"
                        name="is_active"
                        id="active"
                        value="true"
                        checked
                    >

                    <label class="btn btn-outline-success w-100" for="active">
                        Ativo
                    </label>
                </div>
            </div>

            <div class="pt-5">
                <button type="submit" class="btn btn-primary w-100">Salvar</button>
            </div>
       </form>

    </main>



    <script>
        const btnActive = document.getElementById("btn-active");
        const btnInactive = document.getElementById("btn-inactive");

        btnActive.addEventListener("click", () => {
            btnActive.classList.remove("btn-outline-success");
            btnActive.classList.add("btn-success");

            btnInactive.classList.remove("btn-danger");
            btnInactive.classList.add("btn-outline-danger");
        });

        btnInactive.addEventListener("click", () => {
            btnInactive.classList.remove("btn-outline-danger");
            btnInactive.classList.add("btn-danger");

            btnActive.classList.remove("btn-success");
            btnActive.classList.add("btn-outline-success");
        });
    </script>

     <script src="../static/js/bootstrap.bundle.min.js"></script>
</body>
</html>