<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>Info Users</title>
</head>

<body>

    <div class="header-info mt-3 p-1 container-fluid">

        <div class="header-info-btn">
            <a href="{{ url_for('users.list_all_users') }}" class="bg-white border-0">
                <img src="{{ url_for('static', filename='icons/chevron_left.svg') }}" alt="back">
            </a>
        </div>

        <div class="header-info-title">
            <h1 class="fs-6">Detalhes do Usuário</h1>
        </div>

    </div>

    <main class="container">

        <div class="container card-info-user">

            <img class="img-card-info"
                 src="{{ url_for('static', filename='icons/usuario.png') }}"
                 alt="">

            <div class="info-user">
                <h4>{{ user.name }}</h4>

                {% if user.is_active %}
                    <p class="status-green">ATIVO</p>
                {% else %}
                    <p class="status-gray">INATIVO</p>
                {% endif %}

                <p class="p">{{ user.role }}</p>
            </div>

        </div>

        <div class="container">

            <h2 class="fs-6 pt-4 pb-2"><b>Informações pessoais</b></h2>

            <p class="m-0 p-0">Nome completo:</p>
            <label class="m-0 p-0">{{ user.name }}</label>

            <p class="m-0 p-0">Email:</p>
            <label class="m-0 p-0">{{ user.email }}</label>

            <p class="m-0 p-0">Função:</p>
            <label class="m-0 p-0">{{ user.role }}</label>

            <p class="m-0 p-0">Data de cadastro:</p>
            <label class="m-0 p-0">{{ user.created_at }}</label>

            <hr>

            <label>Permissões</label>

            {% if user.role == "ADMIN" %}
                <p>Acesso total ao sistema</p>
            {% else %}
                <p>Acesso parcial</p>
            {% endif %}

            <div class="d-flex gap-2">
                <a href="{{ url_for('users.form_edit_users', id_user=user.id) }}"
                    class="btn btn-outline-primary w-100">
                        Editar
                </a>
            </div>

        </div>

    </main>

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

</body>
</html>