<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>Usuários</title>
</head>

<body>

<main class="container">

    <div class="mt-3 p-1">
        <h1>Usuários</h1>
    </div>

    <div>
        <form>

            <div class="mb-3 mt-3">
                <input class="input-search form-control"
                type="text"
                placeholder="🔍 Buscar por nome ou telefone">
            </div>

            <button type="submit" class="btn btn-primary w-100">
                Pesquisar
            </button>

        </form>

        <a class="mt-2 btn btn-success w-100"
            href="{{ url_for('users.form_users') }}">
            + Novo Usuário
        </a>
    </div>

    {% for user in USERS %}

        <a href="{{ url_for('users.info_users', id_user=user['id']) }}"
           class="text-decoration-none text-dark">

            <div class="card-list">

                <div class="card-list-img">
                    <img class="img-card-info-client"
                         src="{{ url_for('static', filename='icons/usuario.png') }}"
                         alt="photo-user">
                </div>

                <div class="card-list-info">
                    <h4>{{ user.name }}</h4>
                    <p class="p-0 m-0">{{ user.email }}</p>
                </div>

                <div class="card-list-function">
                    <p class="status-blue">
                        {{ user.role }}
                    </p>
                </div>

                <div class="card-list-status">
                    {% if user.is_active == True %}
                        <p class="status-green">ATIVO</p>
                    {% else %}
                        <p class="status-gray">INATIVO</p>
                    {% endif %}
                </div>

            </div>

        </a>

    {% endfor %}

</main>

    <!-- NAVBAR MOBILE -->
    <nav class="bg-light navbar d-block d-md-none fixed-bottom bg-body-tertiary border-top">
        <div class="container-fluid">
            
            <span class="d-flex flex-column align-items-center">
                <img src="../static/icons/home.svg" alt="home">
                <a class="text-nav navbar-brand m-0" href="#">Home</a>
            </span>

            <span class="d-flex flex-column align-items-center">
                <img src="../static/icons/group.svg" alt="home">
                <a class="text-nav navbar-brand m-0" href="#">Clientes</a>
            </span>

            <span class="d-flex flex-column align-items-center">
                <img src="../static/icons/calendar.svg" alt="home">
                <a class="text-nav navbar-brand m-0" href="#">Atendimentos</a>
            </span>

            <span class="d-flex flex-column align-items-center">
                <img src="../static/icons/money.svg" alt="home">
                <a class="text-nav navbar-brand m-0" href="#">Financeiro</a>
            </span>


            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">

                <span class="d-flex align-items-center">
                    <img src="../static/icons/person.svg" alt="home">
                    <a class="text-nav navbar-brand m-0 p-2 fs-5" href="#">Usuários</a>
                </span>
           
            </div>
        </div>
    </nav>

<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

</body>
</html>