:root {
    --vermelho: #fb1909;
    --verde: #63bf53;
    --dourado: #fdd73c;
    --azul0: #1908f9;
    --azul1: #0f05a1;
    --azul2: #070376;
    --azul3: #00004b;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@media (max-width: 767px) {
  /* Estilos exclusivos para celular */

    .menu--opcoes {
        display: none;
    }

    html, body {
        height: 100%;
        margin: 0;
        overflow-x: hidden;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    header {
        background-image: linear-gradient(to bottom, var(--azul2), var(--azul3));
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90px;
        width: 100%;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        padding-bottom: 10px;
        background-color: var(--azul3);
        color: #fff;
        position: fixed;
        top: 90px; /* altura do header */
        width: 100%;
        z-index: 999;
    }

    main {
        flex: 1;
        margin-top: 150px;
    }

    .logo--principal {
        width: 230px;
        height: 200px;
        margin-right: 30px;
        margin-bottom: 10px;
    }


    .div--menu--1{
        display: none;
    }

    .icon--user {
        height: 40px;
        width: 40px;
    }

    .div--menu--2 {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 360px;
        box-sizing: border-box;
    }
    

    ul > li {
        padding: 5px 9px 5px 9px;
        background-color: var(--azul0);
        border-radius: 5px;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        gap: 4.9px;
    }

    .container--principal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .container {
        width: 100%;
        max-width: 360px;
        box-sizing: border-box;
        height: 100px;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        box-shadow: 2px 2px 8px 1px var(--azul3);
        border: 1px solid var(--azul1);
        display: flex;
        gap: 30px;
    }

    .div--status {
        flex: 2;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 22px;
    }

    .div--contador {
        display: flex;
        flex: 3;
        justify-content: flex-end;
        align-items: center;
    }

    h3 {
        padding: 30px;
        font-size: 80px;
        color: var(--azul1);
    }

    .finalizados {
        color: var(--verde);
    }

    .andamento {
        color: var(--dourado);
    }

    .cancelados {
        color: var(--vermelho);
    }

    footer {
        background-color: var(--azul3);
        color: #fff;
        height: 50px;
        padding: 15px;
        text-align: center;
    }
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--azul3);
}

nav {
    display: none;
}

header {
    background-image: linear-gradient(to bottom, var(--azul2), var(--azul3));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo--principal {
    width: 230px;
    height: 200px;
    margin-right: 30px;
    margin-bottom: 10px;
}

main {
  display: flex;
  margin-top: 70px; /* altura do header */
  flex: 1;          /* ocupa o espaço disponível */
  width: 100%;
  overflow: hidden; /* impede scroll geral */
  justify-content: center;
  align-items: center;
}

.menu--opcoes {
  background-color: var(--azul3);
  width: 250px;
  min-width: 250px;
  height: calc(100vh - 70px - 50px); /* header + footer */
  position: sticky;
  top: 70px;
}

.div--menu--1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    color: #fff;
}

.icon--user {
    height: 90px;
    width: 90px;
}

.div--menu--2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul > li {
    list-style: none;
    background-color: var(--azul1);
    color: #fff;
    border: 1px solid var(--azul0);
    border-radius: 7px;
    width: 150px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
}

ul > li:hover {
    box-shadow: 1px 1px 10px 2px var(--azul0);
}

.container--conteudo {
  background-color: #fff;
  flex: 1;
  overflow-y: auto;
  height: calc(100vh - 70px - 50px);
  padding: 10px;
  padding-left: 10%;
  width: 100%;
}

.container--top {
    display: flex;
}

.container {
    max-width: 360px;
    box-sizing: border-box;
    height: 180px;
    width: 100%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px 1px var(--azul3);
    border: 1px solid var(--azul1);
    display: flex;
    gap: 30px;
}

.div--status {
    flex: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 22px;
}

.div--contador {
    display: flex;
    flex: 3;
    justify-content: flex-end;
    align-items: center;
}

h3 {
    padding: 30px;
    font-size: 80px;
    color: var(--azul1);
}

.finalizados {
    color: var(--verde);
}

.finalizados:hover {
    background-color: var(--verde);
    color: #fff;
}

.andamento {
    color: var(--dourado);
}

.andamento:hover {
    background-color: var(--dourado);
    color: #fff;
}

.cancelados {
    color: var(--vermelho);
}

.cancelados:hover {
    background-color: var(--vermelho);
    color: #fff;
}


footer {
    background-color: var(--azul3);
    color: #fff;
    height: 50px;
    width: 100%;
    padding: 15px;
    text-align: center;
}