<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/ui_kit.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Login</title>
</head>
<body>
    <img class="logo" src="../static/images/petRepetLogo-removebg-preview.png" alt="Logo do PET REPET">
    
    <div class="container">
        <h1 class="title-login">Bem-vindo ao PET REPET!</h1>
        <p>Faça login para acessar o sistema</p>
    </div>
    
    <div class="container-left">
        <input class="field type="text" placeholder="E-mail">
        <input class="field type="password" placeholder="Senha">
        <button class="btn btn-primary">Entrar</button>
        <br>
        <a class="blue text-link">Esqueci minha senha</a>
    </div>

    <footer class="row footer">
        <p class="desactive">Versão 1.0.0</p>
        <a class="blue">Suporte</a>
    </footer>

</body>
</html>