<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Serviços</title>
</head>
<body>
    <main class="container">
        <div class="mt-3 p-1">
            <h1>Serviços</h1>
        </div>

        <div>
            <form>
                <div class="mb-3 mt-3">
                    <input class="input-search" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="&#128269 Buscar por nome">
                </div>
                
                <button type="submit" class="btn btn-primary w-100">+ Novo Serviço</button>
            </form>
        </div>

        <div class="card-info-pets d-flex justify-content-around p-3 gap-3 rounded mt-4">
            <div class="d-flex justify-content-center align-items-center">
                <img class="img-pet-service" src="../static/icons-services/tomando-banho.png" alt="photo-pet">
            </div>

            <div class="car-info-pets-list Info flex-grow-1">
                <h4 class="m-0 pt-2">Banho</h4>
                <p class="m-0">Higiene completa do pet</p>
                <p class="m-0">P: R$60 -> M: R$80 -> P: R$100</p>
            </div>

            <div class="d-flex justify-content-center align-items-center">
                <button class="border-0 bg-white">
                    <img class="icons-header-w bg-white" src="../static/icons/edit_pencil.svg" alt="edit">
                </button>
            </div>
        </div>

    </main>

    <nav class="navbar d-block d-md-none fixed-bottom bg-body-tertiary border-top">
        <div class="container-fluid">
            
            <span class="d-flex flex-column align-items-center">
                <img src="../static/icons/home.svg" alt="home">
                <a class="text-nav navbar-brand m-0" href="#">Home</a>
            </span>

            <span class="d-flex flex-column align-items-center">
                <img src="../static/icons/group.svg" alt="home">
                <a class="text-nav navbar-brand m-0" href="#">Clientes</a>
            </span>

            <span class="d-flex flex-column align-items-center">
                <img src="../static/icons/calendar.svg" alt="home">
                <a class="text-nav navbar-brand m-0" href="#">Atendimentos</a>
            </span>

            <span class="d-flex flex-column align-items-center">
                <img src="../static/icons/money.svg" alt="home">
                <a class="text-nav navbar-brand m-0" href="#">Financeiro</a>
            </span>


            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">

                <span class="d-flex align-items-center">
                    <img src="../static/icons/person.svg" alt="home">
                    <a class="text-nav navbar-brand m-0 p-2 fs-5" href="#">Usuários</a>
                </span>
           
            </div>
        </div>
    </nav>



    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>